:root{
    --primary:#F8F4E1;
    --sec:#381c0a;
    --tri1:#FEBA17;
    --tri2:#74512D;
}
@font-face{
    font-family: aeonik;
    font-weight: 200;
    src:url(./fonnts.com-Aeonik-Regular.ttf)
}
@font-face{
    font-family: aeonik;
    font-weight: 500;
    src:url(./fonnts.com-Aeonik-Bold.ttf)
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: aeonik;
    color:var--
}
html,
body{
    height:100%;
    width:100%;
}
#main{
    height:100%;
    width: 100%;
    color:#fff;
    background-color: var(--sec);
}
h1{
    font-family: bold;
    font-weight: 200;
    color:var(--pri)
}
nav{
    position:fixed;
    width:100%;
    height:60px;
    background-color: var(--tri2);
}
section.allElems{
    height:100%;
    width: 100%;
    padding-top:80px;



}